body {
    /**background: linear-gradient(to right, #FF69B4, #1E90FF);**/
    background:#ff416a;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .texto{
    color: white;
  }

  img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
  }
  
  .buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 300px;
    background-color: white;
    border-radius: 10%;
   
  }

  .listar{
    width: 17.5%;
  }

  .cad{
    width: 17.6%;
    align-items: center;
    justify-content: center;
    display: flex;
  }

  .pesq{
    width: 17.5%;
    align-items: center;
    justify-content: center;
    display: flex;
  }

  .exc
  
  button {

    margin: 0 10px;
    margin-top: 40px;
    padding: 40px 80px;
    border: none;
    border-radius: 10px;
    background-color: #4CAF50;
    color: white;
    font-size: 20px;

  }
  
  button:hover {
    cursor: pointer;
    transition: 1s;
    background-color: #214b22;
  }

