
body{
    position: relative;
    display: flex;
    justify-content: center;
    align-items:top;
    min-height: 100vh;
    background-image: url(../img/assa.webp);

}
.container{
    width: 600px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    position: top;
}
.container  .btn{
    position: relative;
    width: 155px;
    height: 50px;
    margin: 20px;
}
.container  .btn a{
    position: absolute;
    top: 0%;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: 255,255,255,0.05;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
border-radius: 30px;
color: white;
z-index: 1;
font-weight: 400;
letter-spacing: 1px ;
text-decoration: none;
overflow: hidden;
transition: 0.5s;
backdrop-filter: blur(15px);
}
.container  .btn:hover a
{
    letter-spacing:3px;
}

    .container  .btn a::before{
    content:'';
    position: absolute;
    top:0;
    left: 0;
    width: 50%;
    height: 100%;
    background: linear-gradient(to left, rgba(255,255,255,0.15),transparent);
    transform: skew(45deg) translateX(0);
    transition: 0.5s;
    }
    .container  .btn:hover a::before{
        transform: skew(45deg) translateX(200%);
    }
    .container  .btn::before
    {
        content: '';
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: -5px;
        width: 30px;
        height: 10px;
        background: red;
        border-radius: 10px;
        transition: 0.5s;

    }
    .container  .btn:hover::before
    {
bottom: 0;
height: 50%;
width: 80%;
border-radius: 30px;
transition-delay: 0.5s;


    }
    .container  .btn::after
    {
        content: '';
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: -5px;
        width: 30px;
        height: 10px;
        background: red;
        border-radius: 10px;
        transition: 0.5s;
        transition-delay: 0;

    }
    .container  .btn:hover::after
    {
top: 0;
height: 50%;
width: 80%;
border-radius: 30px;
transition-delay: 0.5s;
    }
    .container  .btn:nth-child(1):before,
    .container  .btn:nth-child(1):after
    {
      background:red; 
      box-shadow:0 0 5px  red,
      0 0 15px  red,
      0 0 30px  red,
      0 0 60px  red;
    }
    .container  .btn:nth-child(2):before,
    .container  .btn:nth-child(2):after
    {
      background:rgb(241, 5, 5); 
      box-shadow:0 0 5px  rgb(255, 0, 0),
      0 0 15px  rgb(216, 8, 8),
      0 0 30px  rgb(228, 6, 6),
      0 0 60px  rgb(197, 9, 9);
    }
    .container  .btn:nth-child(3):before,
    .container  .btn:nth-child(3):after
    {
      background: rgb(233, 0, 0); 
      box-shadow:0 0 5px  rgb(233, 0, 0),
      0 0 15px  rgb(233, 0, 0),
      0 0 30px  rgb(233, 0, 0),
      0 0 60px rgb(233, 0, 0);
    }
    
    