body{
background: #f0f2f0;


}
.wrapper{
    max-width: 1024px;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction:column ;
    align-items: center;
    background: gray;
    margin: 48px auto;

}
.pokemon-container{
    list-style: none;
    display: flex;
flex-wrap: wrap;
justify-content: center;
gap: 6px;
margin-top:  24px; ;
}
.card{
    width: 250px;
    height: 300px;

    background: #e5e5e5;
    border-radius: 4px;
    text-align: center;

    background-image: url("../assets/pokeball.pgn");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 50px -30px;

    cursor: pointer;
}

.card .sprite{
    width: 100%;
    image-rendering: pixelated;

}
.card .name{
    text-transform: capitalize;
    font-size: 18p;
}
